@page
@model Torneo.App.Frontend.Pages.DTs.CreateModel
@{
}
@if (Model.duplicate)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ocurrio un error al crear</strong> El documento del director técnico ya existe en la base de datos.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="$('.alert').alert('close')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}
<h1>Nuevo Director Tecnico</h1>
@Html.ValidationSummary()
<form method="post">
    <div class="form-group">
        <label asp-for="dt.Nombre"></label>
        <!--input asp-for="dt.Nombre" id="NombreDTCrear" required maxlength="30" class="form-control" pattern="^[a-zA-ZÀ-ÿ ]*$" title="Campo Obligatorio. Solo letras"> -->
        <input asp-for="dt.Nombre" id="NombreDTCrear" class="form-control">
        <span asp-validation-for="dt.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="dt.Documento"></label>        
        <!--input asp-for="dt.Documento" id="DocumentoDTCrear" required minlength="8" maxlength="15" class="form-control" pattern="[0-9]*" title="Campo Obligatorio. Solo números"> -->
        <input asp-for="dt.Documento" id="DocumentoDTCrear" class="form-control">
        <span asp-validation-for="dt.Documento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="dt.Telefono"></label>
      <!-- <input asp-for="dt.Telefono" id="TelefonoDTCrear"  class="form-control" minlength="7" maxlength="12" required pattern="[0-9]*" title="Campo Obligatorio. Solo números"> -->
      <input asp-for="dt.Telefono" id="TelefonoDTCrear"  class="form-control"> 
     <span asp-validation-for="dt.Telefono" class="text-danger"></span> 
    </div>
    <button type="submit" class="btn btn-primary btn-block" id="BtnDTCrear">Crear director Tecnico</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
