@page
@model Torneo.App.Frontend.Pages.Municipios.CreateModel
@{
}
<h1>Nuevo municipio</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="municipio.Nombre"></label>
        <input asp-for="municipio.Nombre" id="NombreMunicipioCrear" minlength="1"  maxlength="30" required  pattern="[A-Za-z\s]*" class="form-control"
        title="Campo Obligatorio. Solo letras."/>
        <span class="text-danger" asp-validation-for="municipio.Nombre"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block" id="BtnMunicipioCrear">Crear municipio</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>