@page
@model Torneo.App.Frontend.Pages.Partidos.CreateModel
@{
}
<h1>Nuevo partido</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="partido.FechaHora">Fecha y hora</label>
        <input asp-for="partido.FechaHora" id="FechaPartidoCrear" required class="form-control" value="2023-01-01T17:00:00"
        title="Campo Obligatorio"/>
    </div>
    <div class="form-group">
        <label for="EquipoLocalId">Seleccione un Equipo Local</label>
        <select id="EquipoLocalId" id="EquipoLocalPartidoCrear" name="EquipoLocalId" required class="form-control"
        title="Campo Obligatorio">
            <!--option value="">Seleccione un equipo</option-->
            @foreach (var equipo in Model.equipos)
            {
                <option value="@equipo.Id">@equipo.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="partido.MarcadorLocal">Marcador Local</label>
        <input asp-for="partido.MarcadorLocal" id="MarcadorPartidoCrear" required type="number" min="0" max="99" pattern="^[0-9]$" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="EquipoVisitanteId">Seleccione un Equipo Visitante</label>
        <select id="EquipoVisitantePartidoCrear" name="EquipoVisitanteId" required class="form-control">
            <!--option value="">Seleccione un equipo</option-->
            @foreach (var equipo in Model.equipos)
            {
                <option value="@equipo.Id">@equipo.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="partido.MarcadorVisitante">Marcador Visitante</label>
        <input asp-for="partido.MarcadorVisitante" id="MarcadorVisitantePartidoCrear" class="form-control" required type="number" min="0" max="99" pattern="^[0-9]$"/>
    </div>
    <button type="submit" class="btn btn-primary btn-block" id="BtnPartidoCrear">Crear partido</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
