@page
@model Torneo.App.Frontend.Pages.Jugadores.CreateModel
@{
}
@if (Model.duplicate)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ocurrio un error al crear</strong> El jugador ya existe en el equipo seleccionado.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="$('.alert').alert('close')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}
<h1>Nuevo Jugador</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="jugador.Nombre"></label>
        <input asp-for="jugador.Nombre" id="NombreJugadorCrear" required maxlength="30" class="form-control" pattern="^[a-zA-ZÀ-ÿ ]*$"
        title="Campo Obligatorio. Solo letras">
    </div>
    <div class="form-group">
        <label asp-for="jugador.Numero"></label>
        <input asp-for="jugador.Numero" class="form-control" id="NumeroJugadorCrear" required value="1" type="number" min="1" max="99" pattern="^[0-9]$">
    </div>
    <div class="form-group">
        <label for="idEquipo">Seleccione un equipo</label>
        <select id="EquipoJugadorCrear" name="idEquipo" class="form-control" required>
            <!--option value="">Seleccione un equipo</option-->
            @foreach (var equipo in Model.equipos)
            {
                <option value="@equipo.Id">@equipo.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="idPosicion">Seleccione una Posicion</label>
        <select id="PosicionJugadorCrear" name="idPosicion" class="form-control" required>
            @foreach (var posicion in Model.posiciones)
            {
                <option value="@posicion.Id">@posicion.Nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary btn-block" id="BtnJugadorCrear">Crear jugador</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
